@inherits IndexPage
@page "/"

<PageTitle>角色</PageTitle>

<p>
  @m
</p>
<p>
  <input type="button" @onclick="Send" value="123" />
</p>
<p>
  <input type="button" @onclick="Keep" value="Keep" />
</p>
<p>
  <input type="button" @onclick="GetRoom" value="GetRoom" />
</p>